.login{
    width: 100%;
    height: 100px;
    display:flex;
    flex-direction: row;
}
.left{
    height: 100%;
    width:50%;
}
.left img{
    object-fit: cover;
    width: 640px;
    height:650px;
}
.right{
    height: 100%;
    width:50%
}
.h3{
    position: absolute;
    top:30px;
    left: 680px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 900;
}
.p{
    position: absolute;
    top: 100px;
    left: 680px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 180px;
    margin-left: 50px;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    font-size: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input{
    display: flex;
    width: 480px;
    height:54px;
    background: #eaeaea;
    border-radius: 6px;
    align-items: center;
}
.input img{
    margin: 0px 30px;
    height:30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.text-danger{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.submit{
    position: absolute;
    top: 400px;
    left:900px;
    justify-content: center;
    width: 200px;
}
.h4{
    position: absolute;
    top: 490px;
    left: 680px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
b{
    color: blue;
}